* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 3.625rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav.dark {
  background-color: #21222a;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  /* align-content: center; */
}

.logo h1 {
  font-weight: 700;
  color: #61dafb;
  padding-left: 0.4rem;
}

.header {
  font-weight: 500;
  color: #deebf8;
}

main {
  padding-top: 57px;
  background-color: white;
  color: #2b283a;
  background-image: url("./images/logo512.png");
  background-repeat: no-repeat;
  background-position-x: 158%;
  background-position-y: 75%;
}

main.dark {
  /* background-image: url("./images/react-icon-dark.png");  */
  background-color: #282d35;
  color: white;
}

.main--title {
  padding-left: 27px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.facts {
  padding: 46px auto 51px auto;
}

.facts li {
  padding-bottom: 20px;
}

.facts li::marker {
  font-size: 1.7rem;
  color: #61dafb;
}
